# Vercel Postgres
POSTGRES_URL=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL_NO_SSL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_USER=""
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE=""

# Docker (se estiver usando docker-compose)
# POSTGRES_PRISMA_URL="postgresql://postgres:password@db:5432/crystal_social?schema=public"
# POSTGRES_URL_NON_POOLING="postgresql://postgres:password@db:5432/crystal_social?schema=public"

# Vercel Postgres alternativo
# POSTGRES_URL=""
# POSTGRES_PRISMA_URL=""
# POSTGRES_URL_NO_SSL=""
# POSTGRES_URL_NON_POOLING=""
# POSTGRES_USER=""
# POSTGRES_HOST=""
# POSTGRES_PASSWORD=""
# POSTGRES_DATABASE=""

# Docker (se estiver usando docker-compose)
# POSTGRES_PRISMA_URL="postgresql://postgres:password@db:5432/crystal_social?schema=public"
# POSTGRES_URL_NON_POOLING="postgresql://postgres:password@db:5432/crystal_social?schema=public"

# Google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Uploadthing
UPLOADTHING_SECRET=
NEXT_PUBLIC_UPLOADTHING_APP_ID=

# Outros

CRON_SECRET=""
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
AUTH_SECRET=""

# Teste 
# NEXT_PUBLIC_STREAM_KEY=""
# STREAM_SECRET=""

NEXT_PUBLIC_STREAM_KEY=""
STREAM_SECRET=""